"*":
  editor:
    fontSize: 16
    invisibles: {}
  core:
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
    disabledPackages: [
      "nuclide-file-tree"
      "hyperclick"
    ]
  "exception-reporting":
    userId: "5ae44df1-8639-585b-c6c6-e1386dabffc2"
  welcome:
    showOnStartup: false
  metrics:
    userId: "11bab00051642eaf33157f9266c81fbed380c92f"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  react: {}
  nuclide:
    remoteProjectsConfig: []
  "tree-view": {}
