/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */

.tree-view {

}

atom-text-editor {

}

atom-text-editor::shadow .cursor {

}

/*
// Background Image
atom-panel.bottom
{
    background-color: rgba(37, 37, 37, .85);
}

atom-pane, atom-panel { background-color: rgba(0, 0, 0, .7) !important;
}

atom-pane-resize-handle {
    background-color: rgba(0, 0, 0, .55);
}

.tree-view
{
    background-image: none !important;
    background-color: rgba(0, 0, 0, .4);
}

.tab-bar
{
    background-image: none;
    background-color: rgba(0, 0, 0, .35);
}

atom-text-editor, .tab-bar .tab, .tab-bar .tab:before, .tab-bar .tab:after, .tab-bar:after, .tool-panel
{
    background: none;
}

atom-workspace
{
    //background-image: url("/Users/SatoshiWatanabe/.atom/img/aipon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

// Editor
atom-text-editor::shadow .selection .region
{
    background: rgba(55, 55, 55, .7);
}

atom-text-editor.is-focused::shadow .selection .region
{
    background: rgba(55, 55, 90, .75);
}

// Settings
.settings-view .package-card, .settings-view select.form-control
{
    background-color: rgba(0, 0, 0, .4);
}

.settings-view .package-card:hover
{
    background-color: rgba(0, 0, 0, .8) !important;
}

.settings-view .config-menu
{
    background-color: rgba(0, 0, 0, .3);
}

atom-text-editor[mini]
{
    background-color: rgba(0, 0, 0, .3) !important;
}

atom-pane-container atom-pane .item-views .pane-item
{
    background: none;
}
*/
